.top-mobile {
  color: white;
  line-height: 40px;
  font-weight: 600;
}
.block_heading h2::after {
  top: 90%;
}
.nav-link a {
  color: black;
  font-weight: 600;
}

.custom-pull-left {
}

.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 32px;
  color: #0D1B3D;
  font-weight: 600;
}

.title-content {
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #f1ecec;
  text-decoration: none;
  background-color: #0D1B3D;
}

/*here is the form css coding*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
.container.form {
  width: 100%;
  margin-top: 226px;
  margin-bottom: 70px;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.background_image {
  /*background-image: url("https://www.onlinelegalindia.com/services/udyog-aadhaar/image/bg.JPEG 2000");*/
  background-image: linear-gradient(
    to right top,
    #174355,
    #1d4154,
    #223f53,
    #263d51,
    #2a3b4f,
    #2d3f53,
    #314458,
    #34485c,
    #385468,
    #3d6074,
    #416d7f,
    #477a89
  );
  left: -74.5px;
  box-sizing: border-box;
  width: 100%;
}

.benifts-heading {
  color: white;
  margin-top: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.benifts-heading::after {
  width: 50px;
  height: 5px;
  position: absolute;
  content: "";
  bottom: -20px;
  left: 18px;
  background-color: #1B5E3A;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.benifits-ul {
  list-style: none;
  margin: 30px 0px 0px 0px;
  padding: 0;
}

.card {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1px;
  border: none;
}

.req-docs-main-div {
  height: 150px;
  width: 29%;
  text-align: center;
  float: left;
  margin: 0% 2% 4% 2%;
}
.right-side-img-title {
  font-size: 13px;
  font-weight: bold;
}

.right-side-img-desc {
  font-size: 12px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid #dbdbdb;
  padding: 7px;
  text-align: center;
}

.why-us-img-div {
  margin-top: 50px;
}

.accordaion-main-div {
  height: 50px;
  width: 100%;
  background-color: #3a526a;
  margin: 25px 0px 0px 0px;
  color: white;
  cursor: pointer;
}

.accordion-cus-head {
  font-weight: 600;
  line-height: 47px;
  margin-left: 40px;
}

.child-ans-div-1 {
  width: 100%;
  color: #66667a;
  border: 1px solid #66667a;
}

.child-ans-text {
  margin-left: 37px;
  margin-top: 10px;
}

.avail_consult h3 span {
  font-size: 18px;
  display: block;
  font-weight: 100;
  text-align: center;
}

.avail_consult h3 a {
  text-decoration: none;
}

.avail_consult {
  margin-top: -29px;
  display: inline-block;
  width: 100%;
}

.avail_consult h3 a span {
  font-size: 19px !important;
  font-weight: 600 !important;
  margin-top: 13px;
  display: block !important;
  color: #fff;
  background: #0D1B3D;
  padding: 11px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  cursor: default;
  margin-bottom: 16px;
}

.mob_view {
  display: none;
}

@media screen and (max-width: 600px) {
  #topheader {
    height: 82px;
  }
  .mob_view {
    display: block;
  }
  .desk_view {
    display: none;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .top-mobile {
    font-size: 10px;
  }
  .title {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 19px;
    color: #0D1B3D;
    font-weight: 600;
  }
  .custom-pull-left {
    float: left !important;
    width: 100%;
    background-color: #0D1B3D;
  }

  .background_image {
    height: auto;
  }

  .accordaion-main-div {
    height: auto;
  }
  .accordion-cus-head {
    line-height: 24px;
    font-size: 14px;
    margin-left: 16px;
    padding: 10px;
  }
  .child-ans-text {
    margin-left: 17px;
  }
  .child-ans-div-1 {
    margin-top: -11px;
  }

  .for-top-margin {
    margin-top: 20px;
  }

  .table-overflow {
    overflow: scroll;
  }

  .req-docs-main-div {
    width: 43%;
  }

  .block_heading h2 {
    font-size: 22px;
  }
}
.new_md_section_left {
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .advantage_comp .card-body {
    justify-content: center;
  }
  .process_section {
    padding: 35px 10px;
  }
}
@media (min-width: 540px) and (max-width: 768px) {
  .advantage_comp .card-body {
    justify-content: center;
  }
  .advantage_comp .advantage {
    width: unset;
  }
}
