
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
}
.new_flot_class{
    float: left;
    width: 100%;
}
.trust_review_area .owl-nav{
    display: none;
}
.trust_review_area .owl-dots{
    text-align: center;
}
.trust_review_area .owl-dots button.owl-dot{
    width: 10px;
    height: 10px;
    background: #949494;
    border-radius: 50%;
    margin: 0 3px;
}
.trust_review_area .owl-dots button.owl-dot.active{
    background: #dc3610;
}
.trust_review_area h3{
    color: #3D8231;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 30px;
    text-align: center;
}
.trust_reviewstrat{
    padding: 0;
    margin: 0;
    position: relative;
    min-height: 180px;
}
.trust_reviewstrat_over{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}
.trust_reviewstrat .tp_logo{
    width: 70px;
    height: 70px;
    margin: 0;
    position: relative;
}
.trust_reviewstrat .tp_logo.tp_logo_dif{
    width: 150px;
}
.trust_reviewstrat .tp_logo_right{
    display: inline-block;
    vertical-align: top;
    padding: 0 0 0 15px;
    width: calc(100% - 70px);
}
.trust_reviewstrat .tp_logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.trust_reviewstrat .tp_logo img.overf_pic{
    position: absolute;
    right: 0;
    box-shadow: -10px 0 19px -10px #000;
}

.trust_reviewstrat h4{
    color: #414141;
    margin: 0 0 1px;
    font-size: 16px;
}
.trust_reviewstrat h5{
    color: #3D8231;
    margin: 0;
    font-size: 16px;
}
.docs_left{
    border-right: solid 1px #5d717b;
}
img.docs_over1{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 80px;
}
img.docs_over2{
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    height: 80px;
}
.covid_area{
    padding: 20px 0 50px;
}
.covid_area h2{
    color: #878787;
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    margin: 50px 0 30px;
    letter-spacing: 1px;
}
.covid_area p{
    color: #878787;
    font-size: 17px;
    padding: 0;
    line-height: 32px;
    margin-bottom: 15px;
    font-weight: 300;
}
.covid_area p a{
    color: #da3510;
}
.covid_area p a:hover{
    color: #000;
    text-decoration: none;
}
a.covid_but{
    background: #1a8e39;
    border: none;
    height: 44px;
    padding: 10px 40px;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin: 20px auto 0;
    display: table;
}
a.covid_but:hover{
    text-decoration: none;
    background: #666;
}
img.company_reg_over{
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
}
.com_reg_info{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    min-height: 400px;
    margin: 0 0 30px;
    box-shadow: 0 7px 19px -11px #000;
}
.com_reg_info h4{
    padding: 15px 25px;
    /* background-image: linear-gradient(to right, #c20005, #eb5115); */
    background: #1a8e39;
    color: #fff;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
}
.com_reg_info ul{
    padding: 20px 20px 0;
    min-height: 150px;
}
.com_reg_info ul li{
    display: block;
    padding: 0 0 0 15px;
    font-size: 15px;
    margin-bottom: 10px;
    position: relative;
}
.com_reg_info ul li:before{
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1a8e39;
}
.com_reg_info h3{
    text-align: center;
    font-size: 16px;
    color: #0D1B3D;
    font-weight: 400;
    display: table;
    margin: 0 auto 36px;
    position: relative;
}
.com_reg_info h3 span{
    font-weight: 700;
    font-size: 20px;
    color: #c20005;
}
.com_reg_info h3 span:nth-child(2){
    position: absolute;
    right: -5px;
    top: -1px;
    font-size: 12px;
}
.com_reg_info a{
    background: #1a8e39;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    box-shadow: 0 5px 10px -5px #000;
}
.com_reg_info a:hover{
    text-decoration: none;
}
#company_reg{
    margin-bottom: -220px;
}
#company_reg .owl-nav{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding-right: 284px;
}
#company_reg .owl-nav button{
    color: #fff;
    font-size: 26px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a8e39;
    margin: 0 3px;
}
.comparison_area{
    padding: 80px 50px 0;
    height: 900px;
}
.comparison_onfo_con{
    background: #eeeeee;
}
.comparison_onfo_con tr td{
    border: 1px solid #dbdbdb;
    padding: 7px;
    text-align: center;
}
.comparison_onfo_con tr:nth-child(odd) {
    background: #ddd;
}
.comparison_onfo_con tr td:first-child{
    background: #c8e1cf;
    padding: 10px 20px;
    font-size: 15px;
    border-bottom: solid 1px #fff;
    color: #333;
}


.comparison_onfo_con .owl-dots{
    display: none;
}
.comparison_area h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 25px;
    text-align: center;
}
.compare_left_con{
    padding-left: 0;
}
.compare_left ul li{
    background: #c8e1cf;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    border-bottom: solid 1px #fff;
    color: #333;
}
.compare_left ul li:first-child{
    border: none;
}
.compare_info ul li{
    background: #fff;
    height: 50px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-bottom: solid 1px #dfdfdf;
    color: #444;
    justify-content: center;
    text-align: center;
}
.compare_info ul li:first-child{
    font-weight: 600;
    background: none;
}
#compare_table .owl-nav .owl-prev{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b7b7b7;
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    left: -20px;
}
#compare_table .owl-nav .owl-next{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b7b7b7;
    color: #fff;
    font-size: 30px;
    border-radius: 50%;
    position: absolute;
    top: 47%;
    right: -20px;
}
#compare_table .owl-nav button:hover{
    background: #1b3954;
}
.md_area{
    padding: 60px 0 0;
}
.md_left{
    background: #1a8e39;
    padding: 25px 70px 25px 25px;
    margin-right: 150px;
    position: relative;
    margin-top: 106px;
    z-index: 9999;
}
.md_left h2{
    font-size: 55px;
    text-transform: uppercase;
    line-height: 60px;
    color: #fff;
    margin-bottom: 5px;
}
.md_left h3{
    font-size: 24px;
    line-height: 28px;
    color: #fff;
}
.md_left img{
    position: absolute;
    /* width: 250px; */
    right: -150px;
    bottom: 0;
    z-index: -1;
}
.md_right_info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.rqst_fix_but{
    z-index: 99999999999999999999999999;
}
.md_right_info p{
    font-size: 15px;
    color: #444;
    line-height: 18px;
}
.md_right_info p a{
    color: #db2029;
    font-weight: 600;
    cursor: pointer;
}
.md_right_info img{
    width: 100px;
    margin-right: 25px;
}
.edu_info{
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 19px -10px #000;
    border-radius: 30px;
}
.edu_info img{
    height: 42px;
    margin: 0 7px;
}
.md_bot_info{
    padding: 30px 0;
    background-image: linear-gradient(to right, #c20005, #eb5115);
}
.md_bot_left{
    padding: 40px;
    position: relative;
}
.md_bot_left_over1{
    width: 120px;
    position: absolute;
    left: 0;
    top: 15px;
    opacity: .2;
}
.md_bot_left_over2{
    width: 120px;
    position: absolute;
    right: 0;
    bottom: 15px;
    opacity: .2;
}
.md_bot_left h2{
    position: relative;
    color: #fff;
    font-size: 24px;
}
.md_bot_left h2 span{
    display: block;
    text-align: right;
    margin-top: 25px;
}
.md_bot_right h4{
    color: #fff;
    font-size: 18px;
    margin: 15px 0 0 15px;
    font-weight: 400;
}
.why_us_area{
    padding: 50px 0;
}
.why_us_area h2{
    color: #3D8231;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 30px;
    text-align: center;
}
.why_us_area ul{
    column-count: 3;
    padding: 0 5%;
}
.why_us_area ul li{
    position: relative;
    color: #666;
    font-size: 16px;
    padding-left: 25px;
    margin: 0 0 15px;
    list-style: none;
}
.why_us_area ul li:before{
    content: '';
    width: 8px;
    height: 8px;
    background: #d4250f;
    left: 0;
    top: 6px;
    position: absolute;
    border-radius: 50%;
}
.popular_area{
    padding: 80px 50px 0;
    height: 520px;
}
.popular_area h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: center;
}
.popular_info{
    padding: 20px 15px;
    position: relative;
    margin-top: 35px;
    text-align: center;
    min-height: 170px;
    border-radius: 50px;
    box-shadow: 0 8px 23px -16px #000;
}
.popular_info_pic_con img{
    height: 60px;
}
.popular_info h3{
    color: #777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    padding-top: 15px;
}
.associated_area{
    padding: 0 0 50px;
}
.associated_area h2{
    color: #3D8231;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 40px;
    text-align: center;
}
.associated_area img{
    width: 80% !important;
    margin: 0 auto 15px;
    display: table;
}
.associated_area .owl-nav{
    display: none;
}
.associated_area .owl-dots{
    text-align: center;
    display: block !important;
    padding-top: 20px;
}
.associated_area .owl-dots button.owl-dot{
    width: 10px;
    height: 10px;
    background: #949494;
    border-radius: 50%;
    margin: 0 3px;
}
.associated_area .owl-dots button.owl-dot.active{
    background: #dc3610;
}
a.associate_but{
    background: #ff723a;
    border: none;
    height: 44px;
    padding: 10px 40px;
    color: #fff;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin: 20px auto 0;
    display: table;
}
a.associate_but:hover{
    text-decoration: none;
    background: #666;
}

.faq_area h2{
    color: #3D8231;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 40px;
    text-align: center;
}
.faq_area .panel-default{
    border: none;
}
.faq_area .panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border: none;
    padding: 0;
    user-select: none;
  }
  .faq_area .panel-default > .panel-heading + .panel-collapse > .panel-body{
      border: none;
    border-radius: 0 0 0 10px;
    margin-bottom: 15px;
    background: #e4fedf;
  }
  .collapse.in p{
    font-size: 15px;
    color: #666;
    margin-bottom: 10px;
    line-height: 24px;
  }
  .collapse.in ul li{
      display: block;
      font-size: 15px;
      color: #666;
      margin-bottom: 10px;
      padding-left: 20px;
      position: relative;
  }
  .collapse.in ul li:before{
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      width: 7px;
      height: 7px;
      background: #1a8e39;
      border-radius: 50%;
  }
  .collapse.in ul .faq_sub{
      padding-left: 20px;
  }
  .collapse.in ul .faq_sub li:before {
    top: 9px;
    width: 10px;
    height: 2px;
}
.faq_area .panel-group .panel + .panel {
    margin-top: 10px;
}
.faq_area .panel-default>.panel-heading a {
    display: block;
    padding: 10px 15px;
    background: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 10px 19px -18px #000;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}
.faq_area .panel-default>.panel-heading a img{
    float: left;
    margin-right: 10px;
}
.faq_area .panel-default>.panel-heading a:hover, .faq_area .panel-default>.panel-heading a:focus{
    text-decoration: none;
}
  
.faq_area .panel-default>.panel-heading a:after {
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: right;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
  }
  
.faq_area .panel-default>.panel-heading a[aria-expanded="true"] {
}
  
.faq_area .panel-default>.panel-heading a[aria-expanded="true"]:after {
    content: "";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 14px;
    height: 14px;
    background: url(../../images/fq_arrow.webp) no-repeat center;
    background-size: 100%;
}
.faq_area .panel-default>.panel-heading a[aria-expanded="false"]:after {
    content: "";
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 14px;
    height: 14px;
    background: url(../../images/fq_arrow.webp) no-repeat center;
    background-size: 100%;
}
.footer_bg_black{
    margin: 0;
}
.modal_news .modal-content {
    width: 95%;
    margin: 0 auto;
}
.sticky_form_top{
    background: #0D1B3D;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
}
.sticky_form_top.desk_stick_form{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: all 500ms ease-in-out 0ms;
    opacity: 1;
    height: auto;
    padding: 8px 25px;
}
.sticky_form_top form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticky_form_top form input:not([type=button]), .sticky_form_top form select{
    width: 23%;
    background: #fff;
    padding: 10px;
    height: 36px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    box-shadow: 0 2px 1px 0px #666 inset;
}
.sticky_form_top form button{
    background-image: linear-gradient(to right, #c70a07, #ff7600, #c70a07);
    border: none;
    height: 36px;
    padding: 8px 10px 10px 50px;
    color: #fff;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    z-index: 9;
    width: 220px;
}
.sticky_form_top form button i{
    position: absolute;
    left: 10px;
    top: 0;
    font-size: 20px;
    padding-left: 10px;
    border-left: solid 1px #fff;
    height: 36px;
    display: flex;
    align-items: center;
    transform: rotate(180deg);
}
.sticky_form_top form button:hover{
    background-image: linear-gradient(to right, #1a8e39, #38c75e);
}
.consult_info{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.consult_info h4{
    color: #000;
    margin-right: 6px;
    font-size: 20px;
}
.consult_info h4 span{
    color: #fff;
    padding: 1px 3px;
    background: #000;
}
.consult_info h5{
    font-size: 26px;
    font-weight: 600;
    color: #000;
    position: relative;
    padding-left: 19px;
}
.consult_info h5 span{
    color: #ff0000;
}
.consult_info h5 label{
    position: absolute;
    font-size: 18px;
    font-weight: 400;
    top: -5px;
    left: 0;
    color: #bc1b1b;
}
.blink{
    -webkit-animation: blink linear 1s infinite;
    animation: blink linear 1s infinite;
    cursor: pointer;
}
@-webkit-keyframes blink {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}
@keyframes blink {
    0% { opacity: 1; } 
    50% { opacity: .1; } 
    100% { opacity: 1; }
}
.ban_brand{
    display: flex;
    align-items: center;
    margin: 50px auto 0;
}
.ban_brand h4{
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
    padding-left: 15px;
    border-left: solid 3px #000;
}
.ban_brand img{
    height: 40px;
    margin-left: 30px;
}
.ban_brand_res{
    padding-top: 10px;
    text-align: center;
    display: none;
}
.ban_brand_res h4{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.ban_brand_res img{
    margin: 0 10px !important;
    box-shadow: none !important;
    height: 30px;
    width: auto !important;
}
.ban_brand_pic{
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.sec_content{
    color: #000;
    font-size: 12px;
    padding: 5px 13% 0;
}

#consultancy{
    background: #00000047;
}
#consultancy .modal-header {
    padding: 0;
    border-bottom: none;
    position: absolute;
    right: -15px;
    top: -15px;
}
#consultancy h2{
    font-size: 18px;
    padding: 15px 0 10px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    color: #000;
    margin: 15px auto 15px;
    border-radius: 0 0 15px 15px;
}
#consultancy .close{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f86801;
    opacity: .9;
    color: #fff;
    border-radius: 50%;
    font-size: 28px;
    margin: -6px 0 0;
}
#consultancy .close:hover{
    background: #000;;
}
#consultancy input:not([type=submit]), #consultancy select{
    width: 100%;
    padding: 10px;
    height: 44px;
    border: none;
    margin-bottom: 10px;
    box-shadow: 6px 3px 19px -16px #000;
    background: #dddd;
    border-radius: 5px;
}
#consultancy button{
    display: table;
    margin: 0 auto;
    padding: 10px 30px;
    border: none;
    background: #c80c07;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    margin-top: 10px;
}
#consultancy input[type=submit]:hover{
    background: #2ea423;
}
#consultancy .modal-dialog {
    max-width: 600px;
    width: 100%;
    margin-top: 70px;
}
#consultancy .modal-content {
    padding: 0 30px 30px;
    border-radius: 35px;
    background: #fff;

}
#consultancy .modal-body{
    padding-top: 0;
}


#thank_you_popup{
    background: #00000047;
}
#thank_you_popup .modal-header {
    padding: 0;
    border-bottom: none;
}
#thank_you_popup h2{
    font-size: 26px;
    color: #000;
    text-align: center;
    margin: 0 0 15px;
}
#thank_you_popup .close{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f86801;
    opacity: .9;
    color: #fff;
    border-radius: 50%;
}
#thank_you_popup .close:hover{
    background: #000;
}
#thank_you_popup p{
    font-size: 16px;
    text-align: center;
    color: #000;
}
#thank_you_popup p span{
    font-weight: 800;
}
#thank_you_popup .modal-dialog {
    max-width: 600px;
    width: 100%;
    margin-top: 70px;
}
#thank_you_popup .modal-content {
    padding: 30px;
    background: #fff;
    border-radius: 35px;
}
#thank_you_popup .modal-content img{
    margin: 0 auto 20px;
    display: table;
    background: #6dbf74;
    padding: 20px;
    border-radius: 50%;
    width: 120px;
    box-shadow: 0 20px 20px -20px #000;
}
#thank_you_popup h3{
    font-size: 22px;
    text-align: center;
    margin: 0 0 8px;
    color: #d35d09;
}
#thank_you_popup .modal-body{
    padding-top: 0;
}


/* menu  start*/
.navbar{
    padding:0;
}
.custom_menu {
    background: #fff;
    width: 100%;
    height: 62px;
    line-height: 60px;
    box-shadow: 0 7px 15px -14px #000;
    position: relative;
  }
  .custom_menu.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .navbar-brand img{
      width: 250px;
      margin-top: 10px;
  }
  .navbar a {
    text-decoration: none;
    color: #222;
    padding: 0;
  }
  
  .navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li a {
    display: block;
    text-align: center;
    padding: 0 10px;
    font-size: 15px;  
    font-weight: 600;
  }
  .navbar ul li a:hover {
    color: #fb0f0f;
  }
  .navbar .navbar-toggler {
    display: none;
  }
 
  .navbar ul li:last-child a{
      padding-right: 0;
  }
  .con_form img.res{
    display: none;
  }
  @media (max-width: 991px) {
    .navbar ul li a {
      min-width: 100px;
      padding: 0 20px;
    }
  }
  
  @media (max-width: 991px) {

.navbar ul.open {
    max-height: 100vh;
    margin-top: -4px;
}
.navbar ul li {
    width: 100%;

}
.navbar ul li a {
    padding: 0;
}
.navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background-color: transparent;
    color: #000;
    border: 3px solid #000;

    outline: none;
    padding: 0 5px;
    cursor: pointer;
}
.navbar .navbar-toggler span,
.navbar .navbar-toggler span::before,
.navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #000;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
}
.navbar .navbar-toggler span::before {
    transform: translateY(-8px);
}
.navbar .navbar-toggler span::after {
    transform: translateY(5px);
}

.navbar .navbar-toggler.open-navbar-toggler span {
    /* transform: rotate(90deg); */
    background-color: transparent;
    /* transform: scale(0.85) rotate(270deg); */
}
.navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
    /* transform: translateY(0px) scale(0.75) rotate(45deg); */
}
.navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
    /* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
}
.custom_menu .container{
    padding:0;
}
}
    /* /* menu  end* */

.contact_us{
    background: #eee;
}
.contact_us h2{
    font-size: 26px;
    margin: 0 0 20px;
}
.contact_us input:not([type=submit]), .contact_us textarea {
    padding: 10px;
    border: solid 1px #bbb;
    border-radius: 5px;
    width: 100%;
    margin: 0 0 15px;
}
.contact_us textarea{
    height: 80px;
}
.contact_us input[type=submit]{
    padding: 10px 30px;
    font-size: 18px;
    background-image: linear-gradient(to right, #c70a07, #ff7600, #c70a07);
    color: #fff; 
    border: none;
    border-radius: 7px;
}
.footer_landing{
    padding: 10px 0;
    background: #2e4358;
}
.footer_landing p{
    font-size: 12px;
    color: #fff;
    line-height: 20px;
}
.footer_landing ul{
    text-align: right;
}
.footer_landing ul li{
    display: inline-block;
    margin-left: 10px;
}
.footer_landing ul li a{
    color: #fff;
}
.con_map{
    padding: 50px;
}
#map_box{
    width: 535px;
    float: right;
}
.con_info_right{
    padding: 50px;
    background: #aab9c7;
}
.con_info_right form{
    width: 535px;
}
.contact_us .row{
    display: flex;
    margin: 0 -15px;
}
.company_fixed_con{
    margin-bottom: -220px;
}
.company_fixed img{
    width: 100%;
    display: block;
}
.navbar{
    margin: 0;
}
.navbar-brand{
    display: block;
    line-height: 0;
}
.ct_bot{
    top: 300px;
}

.pt_top_info{
    padding-top: 40px;
}
.pt_top_info {
    text-align: center;
}
.pt_top_info h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 500;
    margin: 0 0 10px;
}
.pt_top_info p{
    color: #4A4A4A;
    font-size: 16px;
    margin: 0 0 10px;
}
.pt_top_info_left ul li{
    font-size: 25px;
    color: #555555;
    min-height: 130px;
    text-align: left;
    display: block;
    font-weight: 300;
    position: relative;
    padding: 0 0 0 25px;
}
.pt_top_info_left ul li:first-child{
    font-weight: 600;
}
.pt_top_info_left ul li:before{
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FC6327;
    left: 0;
    top: 10px;
    position: absolute;
}
.pt_top_info_left ul li:first-child:before{
    background: #3D8231;
}
.pt_top_info_left ul li:after{
    content: '';
    height: 110px;
    border-left: dashed 1px #707070;
    left: 7px;
    top: 27px;
    position: absolute;
}
.pt_top_info_left ul li:last-child:after{
    display: none;
}
.pt_top_info_right_info img{
    height: 45px;
}
.pt_top_info_right_info h3{
    font-size: 18px;
    margin: 0;
    color: #555555;
}
.pt_top_info_left, .pt_top_info_right{
    padding-top: 40px;
}
.docs_req{
    padding: 80px 50px 0;
    font-size: 0;
    height: 500px;
}
.docs_req .col-md-3{
    display: inline-block;
    float: none;
    vertical-align: top;
}
.docs_req h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 30px;
    text-align: center;
}
.docs_req .doc_rq_info{
    text-align: center;
    margin-bottom: 30px;
}
.docs_req .doc_rq_info img{
    height: 60px;
}
.docs_req .doc_rq_info h3{
    color: #636363;
    font-weight: 900;
    font-size: 50px;
    margin: 0;
}
.docs_req .doc_rq_info h5{
    color: #6A6A6A;
    font-weight: 300;
    font-size: 20px;
}
.package_area{
    padding: 80px 50px 0;
    height: 550px;
}
.package_area h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 30px;
    text-align: center;
}

.adv_area{
    padding: 80px 50px 0;
    font-size: 0;
    text-align: center;
    height: 950px;
}
.adv_area h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 25px;
    text-align: center;
}
.adv_area .col-md-3{
    float: none;
    display: inline-block;
    vertical-align: top;
}
.adv_info_con{
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 5px 19px -10px #000;
    border-radius: 15px;
    min-height: 250px;
    margin-bottom: 20px;
}
.adv_info_con h3{
    font-size: 16px;
    font-weight: 800;
    color: #414141;
    margin: 15px 0 10px;
}
.adv_info_con p{
    font-size: 12px;
    color: #6B6B6B;
}
.adv_info_con .adv_icon_con{
    background: #E6E6E6;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.adv_info_con .adv_icon_con img{
    height: 40px;
}
.faq_area{
    padding-bottom: 40px;
}
.md_heading h2{
    color: #3D8231;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 40px;
    text-align: center;
}

.comparison_area_main h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 25px;
    text-align: center;
}
.comparison_area_left li{
    background: #c8e1cf;
    padding: 10px 20px;
    font-size: 15px;
    color: #333;
    height: 50px;
    display: flex;
    align-items: center;
    line-height: 16px;
}
.comparison_area_right{
    background: #eee;
}
.comparison_area_right li{
    padding: 10px;
    text-align: center;
    color: #333;
    display: block;
    font-size: 14px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
}
.comparison_area_right li:first-child{
    background: #ccc;
}
.comparison_area_main{
    padding: 0 0 40px;
}
.comparison_area_main .owl-nav{
    display: block !important;
}
.comparison_area_main .owl-nav button{
    position: absolute;
    top: 50%;
    background: #a7a7a7 !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff !important;
    font-size: 30px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comparison_area_main .owl-nav button.owl-prev{
    left: -15px;
    padding-bottom: 5px !important;
}
.comparison_area_main .owl-nav button.owl-next{
    right: -15px;
    padding-bottom: 5px !important;
}



.modal_news p{margin-bottom: 10px;}
.modal_news img{width: 100%; margin-bottom: 10px;}
.modal_news .popup_img{text-align: center;}
.modal_news .popup_img img{max-width: 250px; max-height: 70px; width: auto;}
.modal_news h2{font-size: 20px;color: #000;text-align: center;}
.modal_news .close{background: #e6e6e6;opacity: 1;border-radius: 50px;width: 40px;height: 40px;font-size: 29px;position: absolute;right: 0;top: -10px;z-index: 1;}
.modal_news .bottom_link{text-align: center;color: #000;display: block;font-weight: 600;font-size: 16px;}
.modal_news .bottom_link span{color: #db2029;}
.modal_news .modal-content{height: 90vh;overflow-y: scroll;overflow-x: hidden;}
.modal_news .modal-content::-webkit-scrollbar {width: 5px;}
.modal_news .modal-content::-webkit-scrollbar-track {background: #f1f1f1;}
.modal_news .modal-content::-webkit-scrollbar-thumb {background-color: #8e8d8d;border-radius: 20px;}
.modal_news .bottom_link_close{display: flex;justify-content: space-between;align-items: center;border: 1px solid #ccc;padding: 8px;margin-top: 20px;}
.modal_news .bottom_link_close a:nth-child(2){background: #8e0202;padding: 3px 15px;color: #fff;border-radius: 10px;cursor:pointer;}

.dropdown-menu .nav-link a{
    text-align: left;
}

@media (max-width: 767px){
    #myHeader .innersite_nav{
        display: none;
    }
    .comparison_area_main .owl-nav button {
        width: 30px;
        height: 30px;
        font-size: 20px !important;
    }
    .comparison_area_main {
        padding: 10px 0 20px;
    }
    .comparison_area_main h2 {
        font-size: 22px;
        margin: 0 0 15px;
    }
    .faq_area .row{
        margin: 0;
    }
    .over_pic2{
        display: none;
    }
    .navbar-brand img {
        width: 210px;
        margin: 10px 0;
    }
    .company_fixed_con {
        padding-right: 7.5px;
    }
    .navbar ul li a {
        color: #fff;
        text-align: left;
      }
    .navbar ul li:first-child {
        margin-top: 40px;
    }
    #company_reg .owl-nav {
        margin-top: 30px;
        padding-right: 0;
    }
    #company_reg .owl-nav button {
        font-size: 20px;
        width: 30px;
        height: 30px;
    }
    .custom_menu .col-md-9{
        padding:  0;
    }
.custom_menu .navbar img{
    width: 150px;
    margin-left: 15px;
    }
    .navbar {
    width: 100%;
    display: inline-block;
    }
    .navbar .navbar-toggler {
    height: 33px;
    width: 36px;
    top: -44px;
    right: 10px;
    border: none;
    outline: none;
    padding: 0 5px;
    }
    .navbar .navbar-toggler span, .navbar .navbar-toggler span::before, .navbar .navbar-toggler span::after {
    display: block;
    content: '';
    background-color: #000;
    height: 3px;
    width: 26px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
    }
    .custom_menu{
    height: 50px;
    }
    .custom_menu{
    line-height: 50px;
    }
#thank_you_popup .modal-dialog, #consultancy .modal-dialog {
    padding: 0 15px;
}
#thank_you_popup .modal-content {
    padding: 20px 15px;
}
#consultancy .modal-content {
    padding: 0 15px 30px;
}
#consultancy h2 {
    width: 90%;
}
#consultancy h2{
    font-size: 16px;
}
#thank_you_popup h3 {
    font-size: 20px;
}
.consult_info h5{
    font-size: 24px;
}
.consult_info h4 {
    font-size: 18px;
}
.sec_content {
    padding: 5px 0 0;
}
.ban_brand_res{
    display: block;
}
.ban_brand{
    display: none;
}
.com_ban_right ul li:nth-child(2) img.star_res{
    display: inline-block;
}
.com_ban_right ul li:nth-child(2) img.star_des{
    display: none;
}
.review_new img.t_white{
    display: inline-block;
}
.review_new img.t_black{
    display: none;
}
.com_reg_info h3{
    font-size: 13px;
}
.com_reg_info h3 span{
    font-size: 16px;
}
.com_reg_info h3{
    margin-bottom: 25px;
}
.com_reg_info ul{
    min-height: 150px;
}
#myHeader {
    position: sticky !important;
    top: 0;
}
.desk_off{
    display: table !important;
}
.sticky_form_top.desk_stick_form{
    display: none;
}
.nav > li{
    padding: 0 !important;
    margin: 0 !important;
}
.nav > li:before{
    display: none !important;
}
.com_ban_left.pull-right {
    float: none !important;
}
.ban_brand h2{
    color: #333;
    font-size: 20px;
    margin: 20px 0 10px;
}
.ban_brand ul li img {
    height: auto !important;
}
.trust_review_area {
    padding: 25px 0;
}
.trust_review_area h3 {
    font-size: 22px;
    margin: 0;
}
.trust_reviewstrat .tp_logo{
    width: 70px;
    height: 70px;
    margin: 0 auto 10px; 
}
.tp_logo span {
    top: -40px;
    left: -10px;
    font-size: 120px;
}
.trust_reviewstrat {
    padding: 20px 15px 10px;
    min-height: 0;
    margin: 0;
    position: relative;
    text-align: left;
}
.trust_reviewstrat h4 {
    margin: 0;
    font-size: 16px;
}
img.docs_over1 {
    top: -50px;
    height: 50px;
}
.docs_left {
    border-bottom: solid 1px #5d717b;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-right: none;
}
img.docs_over2{
    bottom: -50px;
    height: 50px;
}
.covid_area {
    padding: 30px 0 80px;
}
.covid_area h2 {
    font-size: 18px;
    margin: 0 0 15px;
    padding: 0 10px;
    line-height: 25px;
}
.covid_area p {
    font-size: 15px;
    padding: 0 15px;
    line-height: 22px;
}
#company_reg {
    margin-bottom: -220px;
}
.com_reg_info h4 {
    padding: 10px 6px;
    font-size: 15px;
    line-height: 20px;
}
.com_reg_info ul {
    padding: 10px;
}
.com_reg_info ul li {
    padding: 0 0 0 13px;
    font-size: 13px;
    margin-bottom: 10px;
    line-height: 17px;
}
.com_reg_info ul li:before {
    top: 6px;
    left: 0;
    width: 6px;
    height: 6px;
}
.com_reg_info a {
    padding: 5px 8px;
    font-size: 13px;
    bottom: 15px;
    width: 100px;
    text-align: center;
}
.com_reg_info{
    min-height: 320px;
}

.comparison_area h2{
    font-size: 22px;
    margin: 0 0 15px;
}
.compare_left_con{
    padding: 0;
}
.compare_left ul li{
    font-size: 14px;
    line-height: 18px;
}
#compare_table {
    padding: 0 10px;
}
.compare_info ul li{
    font-size: 13px;
}
#compare_table .owl-nav .owl-prev {
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 48%;
    left: 0;
}
#compare_table .owl-nav .owl-next{
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 48%;
    right: 0;
}
.edu_info img {
    height: 26px;
    margin: 0 4px;
}
.md_area {
    padding: 20px 0 0;
}
.md_heading h2 {
    font-size: 22px;
    margin: 0 0 90px;
}
.md_left {
    padding: 20px 20px 20px 20px;
    margin-right: 100px;
    margin-top: 0;
}
.md_left h2 {
    font-size: 26px;
    line-height: 34px;
    margin-right: 150px;
}
.md_left h3 {
    font-size: 15px;
    line-height: 22px;
    margin-right: 110px;
}
.md_left img{
    width: 200px;
    right: -100px;
    bottom: 0;
}
.md_left_con{
    padding: 0;
}
.md_right{
    padding-top: 20px;
}
.md_right_info img {
    width: 90px;
    margin-right: 15px;
}
.review_new img {
    margin: -6px 3px 0 0 !important;
    width: 60px;
}
.md_right_info p {
    font-size: 14px;
    line-height: 17px;
}
.md_right_info {
    margin-bottom: 15px;
}
.edu_info {
    padding: 15px 10px;
    margin-bottom: 15px;
}
.md_bot_left_over1 {
    width: 60px;
    top: 10px;
}
.md_bot_left h2 {
    font-size: 18px;
}
.md_bot_left h2 span {
    margin-top: 10px;
}
.md_bot_left_over2 {
    width: 60px;
    bottom: 10px;
}
.md_bot_left {
    padding: 20px;
}
.md_bot_right h4 {
    font-size: 15px;
    margin: 10px 0 0 0;
}
.md_bot_info {
    padding: 15px 0 25px;
}
.why_us_area {
    padding: 25px 0;
}
.why_us_area h2 {
    font-size: 22px;
    margin: 0 0 15px;
}
.why_us_area ul {
    column-count: 2;
    padding: 0 15px;
}
.why_us_area ul li {
    font-size: 15px;
    padding-left: 20px;
    margin: 0 0 10px;
}
.popular_area {
    padding: 0 0 30px;
}
.popular_area h2 {
    font-size: 22px;
}
.popular_info_pic_con img{
    height: 50px;
}
.popular_info h3 {
    font-size: 15px;
    padding-top: 10px;
}
.popular_info {
    padding: 0 10px 10px;
    margin-top: 20px;
    min-height: 120px;
    border-radius: 20px;
}
.associated_area {
    padding: 30px 0 0;
}
.associated_area h2 {
    font-size: 22px;
    margin: 0 0 25px;
}
.faq_area{
    padding: 20px 0;
}
.faq_area .panel-default>.panel-heading a{
    font-size: 15px;
    padding: 10px 25px 10px 10px;
}
.faq_area .panel-default>.panel-heading a[aria-expanded="false"]:after, .faq_area .panel-default>.panel-heading a[aria-expanded="true"]:after{
    right: 5px;
    position: absolute;
    top: 15px;
}
.faq_area .panel-default>.panel-heading a img{
    width: 20px;
    margin-bottom: 5px;
}

.con_map {
    padding: 0;
    overflow: hidden;
}
.contact_us .row {
    display: block;
    margin: 0;
}
#map_box {
    width: 100%;
    float: none;
    height: 250px;
}
.con_info_right {
    padding: 30px 20px;
}
.con_info_right form {
    width: 100%;
}
.contact_us h2 {
    font-size: 22px;
    margin: 0 0 10px;
    text-align: center;
}
.contact_us input[type=submit]{
    display: table;
    margin: 0 auto;
}
.footer_landing {
    text-align: center;
}
.footer_landing ul {
    text-align: center;
    padding-top: 3px;
}
.footer_landing ul li {
    margin: 0 5px;
}

.contact_us .container-fluid{
    padding:  0;
}

}
@media (max-width: 355px){

.popular_info h3 {
    font-size: 13px;
}

}


/*------------new_ban_css-------------*/
/* #myHeader{
    float: none;
} */

.pan_ban_area2{
    position: relative;
}

.pan_ban_area2 .ban_back{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 450px;
    background-image: linear-gradient(to right bottom, #f9f8f8, #dbd6d6);
}
.pan_ban_area2 .com_ban_left h1{
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #555;
    margin: 60px 0 20px;
}
.pan_ban_area2 .com_ban_left h2{
    font-size: 24px;
    font-weight: 300;
    color: #27752e;
    margin: 0 40% 10px 0;
}
.pan_ban_area2 .com_ban_left h3{
    font-size: 20px;
    font-weight: 300;
}
.pan_ban_area2 .com_ban_right h1{
    display: none;
}
.pan_ban_area2 .com_ban_right h3 {
    color: #666;
    width: 100%;
    background: none;
    font-weight: 800;
    text-transform: none;
    font-size: 26px;
    text-align: center;
    margin:  0 0 3px;
}
.pan_ban_area2 .com_ban_right h3 span{
    display: block;
    color: #ff723a;
    font-weight: 300;
}
.pan_ban_area2 .com_ban_right h5{
    text-align: center;
    margin: 0 0 5px;
    font-size: 15px;
    color: #666;
    font-weight: 400;
}
.pan_ban_area2 .ban_form {
    background: #ffffff85;
    border-radius: 40px;
    position: relative;
    padding: 50px 10px 40px;
    margin-top: 30px;
    box-shadow: 0 8px 24px -12px #333;
    border-top: none;
    margin-bottom: 15px;
}
.pan_ban_area2 .ban_form form input:not([type=submit]), .pan_ban_area2 .ban_form form select {
    width: 100%;
    height: 46px;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    background: #ffffff7a;
    color: #000;
    margin-bottom: 17px;
    box-shadow: 0 4px 20px -16px #000;
}
.pan_ban_area2 .ban_form form button{
    color: #fff !important;
    background: #ff723a !important;
    height: 44px !important;
    line-height: 44px !important;
    text-align: center !important;
    width: 100% !important;
    border: none !important;
    border-radius: 30px !important;
    padding: 0 !important;
    font-size: 16px !important;
}
.pan_ban_area2 .ban_form form input[type="radio"]{
    width: auto !important;
    height:  auto !important;
}
input#captcha_code{
    width: 150px;
}
.custom_dropdown label::after {
    right: 5px;
    top: 14px;
    top: 13px !important;
}
.pan_ban_area2 .ban_form form {
    padding: 10px 25px 20px;
}
.pan_ban_area2 .sec_content {
    color: #000;
    font-size: 13px;
    padding: 0;
    margin: 0 20% 0 0;
}
.pan_ban_area2 .consult_info {
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 35px 0 5px 0;
}
.rating_area{
    padding: 40px 0 0;
}
.rating_area ul{
    font-size: 0;
}
.rating_area ul li{
    display: inline-block;
    width: 33.33%;
    position: relative;
    border-right: solid 1px #999;
    padding-left: 70px;
}
.rating_area ul li img{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}
.rating_area ul li:last-child{
    border: none;
}
.rating_area ul li .ban_icon{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
.rating_area ul li .ban_icon i{
    font-size: 40px;
}
.rating_area ul li{
    font-size: 14px;
    color: #666;
    line-height: 20px;
}
.rating_area ul li h3{
    font-size: 20px;
    font-weight: 800;
    line-height: 34px;
    color: #666;
}
.rating_area img.star_res{
    width: 100px;
}
.header_top{
    padding: 5px 0;
    background: #ccc;
}
.header_top ul{
    margin: 0;
    padding: 0;
}
.ht_top_left li{
    display: inline-block;
    margin: 0 10px 0 0;
}
.ht_top_left li a{
    color: #333;
    font-size: 15px;
}
.ht_top_left li a i{
    margin-right: 5px;
}
.ht_top_left li a:hover{
    text-decoration: none;
}
.ht_top_right{
    text-align: right;
}
.ht_top_right li{
    display: inline-block;
    margin-left: 10px;
}
.ht_top_right li a{
    color: #333;
}
.pan_ban_area2 .container{
    position: relative;
}
.over_pic2{
    position: absolute;
    top: 50px;
    left: 34%;
    width: 339px;
}


.package_area .tab {
    font-size: 0;
  }
  
  /* Style the buttons inside the tab */
  .package_area .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    transition: 0.3s;
    font-size: 19px;
    width: 20%;
    text-align: center;
    color: #A9A9A9;
    font-weight: 300;
    border-right: solid 1px #bbb;
    position: relative;
  }
  .package_area .tab button:last-child{
      border: none;
  }
  .package_area .tab button span{
      display: block;
      font-weight: 900;
      font-size: 30px;
  }
  .package_area .tab button h5{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;
    border-radius: 30px;
    padding: 5px 10px;
    color: #0D1B3D;
    font-size: 14px;
    font-weight: 600;
  }
  
  /* Change background color of buttons on hover */
  .package_area .tab button:hover {
    color: #333;
  }
  
  /* Create an active/current tablink class */
  .package_area .tab button.active {
      color: #3C8230;
  }
  /* Style the tab content */
 .package_area .tabcontent {
    display: none;
    padding: 50px 60px 30px;
    border-top: none;
    text-align: center;
    min-height: 250px;
    box-shadow: 0 5px 20px -13px #000;
    border-radius: 0 0 20px 20px;
  }
  .package_area .tabcontent h5{
    color: #636363;
    font-size: 18px;
    padding: 0;
    line-height: 26px;
    font-weight: 300;
    margin-top: 20px;
  }
  .package_area .tabcontent h5 a{
      font-weight: 900;
      color: #3C8230;
  }
  .package_area .tabcontent h3{
    font-size: 19px;
    color: #A9A9A9;
    font-weight: 400;
    margin: 0 0 10px;
    display: none;
  }
  .package_area .tabcontent h3 label{
    color: #0D1B3D;
    margin: 0;
  }
  .package_area .tabcontent h3 span{
    color: #3c8230;
    font-weight: 900;
    font-size: 30px;
    display: block;
    line-height: 30px;
  }
  .package_area .tabcontent h4{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 25px;
  }
  .package_area .tabcontent ul{
      margin: 0;
      padding: 0;
      column-count: 3;
      text-align: left;
  }
  .package_area .tabcontent ul li {
    color: #636363;
    font-size: 16px;
    padding: 0;
    line-height: 20px;
    margin-bottom: 7px;
    font-weight: 300;
    position: relative;
    padding-left: 15px;
    list-style: none;
}
.package_area .tabcontent ul li:before{
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1a8e39;
    position: absolute;
    left: 0;
    top: 5px;
}
.tab_con_con{
    width: 100%;
}

.compliance_area{
    padding: 80px 50px 0;
    text-align: center;
    height: 700px;
    background: none !important;
}
.compliance_area h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 10px;
    text-align: center;
}
.compliance_area p{
    color: #484848;
    font-size: 16px;
}
.compliance_area h4{
    font-size: 22px;
    color: #464646;
    margin: 25px 0 10px;
}
.compliance_area .nav-tabs{
    border: none;
}
.compliance_area .nav-tabs li{
    padding: 0 10px;
    transition: 0.3s;
    font-size: 30px;
    width: 49%;
    text-align: center;
    color: #A9A9A9;
    font-weight: 300;
    border-right: solid 1px #bbb;
}
.compliance_area .nav-tabs li:last-child{
    border: none;
}
.compliance_area .nav-tabs li span{
    display: block;
    font-weight: 900;
    font-size: 36px;
}
.compliance_area .nav-tabs li.active a{
    color: #3C8230 !important;
}
.compliance_area .nav-tabs li a{
    color: #A9A9A9;
    border: none !important;
}
.compliance_area .nav-tabs li a:hover{
    color: #000;
    background: none;
    border: none;
}
.compliance_info{
    padding: 20px 10px;
    box-shadow: 0 5px 19px -10px #000;
    border-radius: 15px;
    margin-top: 25px;
    min-height: 180px;
    display: flex;
    align-items: center;
}
.compliance_area .tab-content{
    padding: 30px 60px;
    text-align: center;
    box-shadow: 0 5px 20px -13px #000;
    border-radius: 0 0 20px 20px;
}
.compliance_area .tab-content ul li{
    display: inline-block;
    padding: 0 15px;
    border-right: solid 1px #3C8230;
    font-size: 16px;
    margin: 5px 0;
}
.compliance_area .tab-content ul li:last-child{
    border: none;
}

.how_We_area{
    padding: 80px 50px 0;
    height: 550px;
}
.how_We_area h2{
    color: #3D8231;
    font-size: 26px;
    font-weight: 400;
    margin: 0 0 60px;
    text-align: center;
}
.step_con{
    padding: 45px 10px 20px;
    background: #efefef;
    border-radius: 10px;
    position: relative;
    min-height: 170px;
    margin-bottom: 40px;
}
.step_con .step_no{
    background: #3C8230;
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: -20px;
}
.step_con .step_no:before{
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    border-right: solid 15px #2f6a24;
    border-top: solid 20px transparent;
    border-bottom: solid 0 transparent;
}
.step_con .step_no:after{
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    border-left: solid 15px #2f6a24;
    border-top: solid 20px transparent;
    border-bottom: solid 0 transparent;
}
.step_con h3{
    color: #636363;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

#asia .modal-dialog{
    max-width: 470px;
}
#asia .modal-content img{
    width: 100%;
}
.contact_us_top{
    padding: 30px 0;
}
.contact_us_top{
    padding: 30px 0;
    background: #ddd;
    margin: 20px 0 0;
}
.contact_us_top a:hover{
    text-decoration: none;
}
.contact_us_top_info{
    background: #fff;
    padding: 15px 15px 15px 45px;
    border-radius: 10px;
    position: relative;
    margin-left: 30px;
    min-height: 120px;
    display: flex;
    align-items: center;
}
.contact_us_top_info .con_icon_con{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0D1B3D;
}
.contact_us_top_info h3{
    color: #000;
    font-size: 18px;
    margin: 0 0 4px;
}
.contact_us_top_info p, .contact_us_top_info a{
    color: #666;
    font-size: 15px;
}
.contact_us_top_info a:hover{
    text-decoration: none;
    color: #000;
}
.contact_us{
    background: #eee;
}
.contact_us h2{
    font-size: 26px;
    margin: 0 0 20px;
}
.contact_us input:not([type=submit]), .contact_us textarea {
    padding: 10px;
    border: solid 1px #bbb;
    border-radius: 5px;
    width: 100%;
    margin: 0 0 15px;
}
.contact_us textarea{
    height: 80px;
}
.contact_us input[type=submit]{
    padding: 10px 30px;
    font-size: 18px;
    background-image: linear-gradient(to right, #c70a07, #ff7600, #c70a07);
    color: #fff; 
    border: none;
    border-radius: 7px;
}
.ofc_info_area ul{
    font-size: 0;
}
.ofc_info_area ul li{
    text-align: center;
    margin: 0;
    width: 25%;
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
}
.ofc_info_area ul li h2{
    color: #fff;
    font-size: 20px;
    margin: 0 0 5px;
}
.ofc_info_area ul li p{
    color: #fff;
    font-size: 13px;
}
.ofc_info_area{
    padding: 40px 0;
    background: #0D1B3D;
}

@media (max-width: 767px){
    .ofc_info_area ul li p {
        font-size: 12px;
        line-height: 15px;
    }
    .ofc_info_area ul li h2 {
        font-size: 17px;
    }
    .ofc_info_area ul li {
        width: 50%;
        margin-bottom: 15px;
    }
    .ofc_info_area ul {
        text-align: center;
    }
    .ofc_info_area {
        padding: 25px 0 15px;
    }
    .contact_us_top_info {
        margin-bottom: 15px;
    }
    .contact_us_top {
        padding: 30px 0 15px;
    }
    .package_area .tabcontent h3{
        display: block;
    }
    .rating_area {
        padding: 20px 0 0;
    }
    .rating_area ul li h3 {
        font-size: 20px !important;
    }
    .rating_area ul li{
        border: none !important;
    }
    .comparison_area {
        padding: 30px 15px 0;
    }
    .comparison_onfo_con {
        overflow: auto;
    }
    .comparison_onfo_con table{
        width: 700px;
    }
    .comparison_onfo_con tr td:first-child{
        position: sticky;
        left: 0;
    }
    .custom_menu .row{
        margin: 0;
    }
    .associated_area img {
        margin: 0 auto 20px;
        display: block;
    }
    .tabcontent{
        display: block !important;
        padding:  15px;
        background: #ededed;
        margin-bottom: 15px;
        min-height: 0 !important;
    }
    .tabcontent ul li{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .tabcontent a {
        font-size: 16px;
    }
    .tab {
        display: none;
    }
    .tabcontent h2 {
        font-size: 22px;
        line-height: 34px;
        margin: 0;
        letter-spacing: 0;
    }
    .tabcontent h3 {
        font-size: 20px;
        line-height: 34px;
        letter-spacing: 0;
        margin-bottom: 10px;
    }
.pan_ban_area2 .ban_form {
    padding: 20px 15px 30px;
    margin: 0;
}
.pan_ban_area2 .com_ban_right h3 {
    font-size: 22px;
    font-weight: 300;
}
.com_ban_right {
    float: none !important;
}
.pan_ban_area2 .ban_form form input:not([type=submit]), .pan_ban_area2 .ban_form form select {
    height: 42px;
    margin-bottom: 10px;
}
.pan_ban_area2 .ban_form form {
    padding: 0 5px;
}
.pan_ban_area2 .com_ban_left h1 {
    font-size: 26px;
    letter-spacing: 0;
    margin: 20px 0 10px;
    line-height: 32px;
}
.pan_ban_area2 .com_ban_left h2 {
    font-size: 20px;
    margin: 20px 0 10px 0;
    line-height: 26px;
}
.pan_ban_area2 .com_ban_left h3 {
    font-size: 20px;
}
.pan_ban_area2 .sec_content {   
    padding: 0;
    margin: 5px 0 0 0;
}
.pan_ban_area2 .com_ban_left{
    text-align: center;
}
.pan_ban_area2 .consult_info {
    justify-content: center;
    margin-top: 15px;
}
.rating_area ul li {
    width: 33.33%;
    padding: 0 5px;
    text-align: center;
    border-right: solid 1px #aaa;
    line-height: 16px;
    font-size: 13px;
}
.rating_area ul li .ban_icon {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-bottom: 10px;
}
.rating_area ul li .ban_icon i {
    font-size: 30px;
}
.rating_area ul li h3 {
    font-size: 20px;
    line-height: 24px;
}
.pan_ban_area2 .com_ban_right h1 {
    font-size: 25px;
    letter-spacing: 0;
    margin: 0 0 15px;
    line-height: 32px;
    display: block;
    color: #555;
    font-weight: 400;
    text-align: center;
}
.pan_ban_area2 .com_ban_left h1{
    display: none;
}
.ht_top_left{
    text-align: center;
}
.ht_top_left li{
    margin: 0 5px;
}
.ht_top_right {
    text-align: center;
    margin: 5px 0 0;
    display: none;
}
.header_top {
    padding: 5px 0;
}
.mid_zone nav{
    display: none;
}
main{
    width: 100%;
    max-width: 100%;
}
.pan_ban_area2 {
    padding-top: 20px;
}
.rating_area ul li img {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
}
.pt_top_info h2{
    font-size: 22px;
    line-height: 26px;
}
.pt_top_info_left ul li {
    font-size: 18px;
    padding: 0 0 20px 25px;
    line-height: 20px;
    min-height: auto;
}
.pt_top_info_left ul li:before {
    width: 10px;
    height: 10px;
    left: 2px;
    top: 5px;
}
.pt_top_info_left ul li:after {
    height: 100%;
    left: 7px;
    top: 14px;
}
.pt_top_info_left, .pt_top_info_right {
    padding-top: 20px;
}
.pt_top_info_right_info h3 {
    font-size: 16px;
}
.pt_top_info p {
    font-size: 15px;
}
.pt_top_info{
    padding: 25px 15px 0;
}
.trust_reviewstrat .tp_logo_right{
    width: calc(100% - 70px);
}
.docs_req {
    padding: 0 15px 0;
}
.docs_req .doc_rq_info h3 {
    font-size: 30px;
}
.docs_req .doc_rq_info img {
    height: 40px;
    margin-bottom: 5px;
}
.docs_req .doc_rq_info h5 {
    font-size: 15px;
}
.docs_req h2 {
    font-size: 22px;
    margin: 0 0 20px;
}
.docs_req .doc_rq_info {
    margin-bottom: 15px;
}
.package_area {
    padding: 20px 15px 0;
}
.package_area h2{
    font-size: 22px;
    margin: 0 0 20px;
}
.package_area .tabcontent {
    padding: 20px 15px;
}
.package_area .tabcontent h4 {
    font-size: 18px;
    margin: 0 0 15px;
}
.package_area .tabcontent ul {
    column-count: 2;
}
.package_area .tabcontent ul li {
    font-size: 14px;
    margin-bottom: 3px;
}
.package_area .tabcontent h5{
    font-size: 16px;
    margin-top: 5px;
}
.adv_area {
    padding: 20px 15px;
}
.adv_info_con {
    padding: 0 10px 20px;
    min-height: 0;
    margin-bottom: 20px;
}
.compliance_area {
    padding: 0 15px;
    background: none !important;
}
.compliance_info {
    padding: 20px 10px;
    margin-top: 15px;
    min-height: 0;
}
.compliance_area h4 {
    font-size: 18px;
}
.compliance_area .nav > li > a {
    padding: 5px;
}
.compliance_area .nav-tabs li {
    font-size: 16px;
    font-weight: 400;
}
.compliance_area .nav-tabs li span {
    font-size: 20px;
}
.compliance_area .tab-content {
    padding: 15px;
}
.how_We_area {
    padding: 30px 15px 0;
}
.step_con {
    min-height: auto;
    margin-bottom: 40px;
}
.compliance_area .tab-content ul li {
    display: block;
    padding: 0 10px;
    font-size: 15px;
    margin: 2px 0;
    border: none;
}
.step_con .step_no {
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
}
.how_We_area h2 {
    font-size: 22px;
    margin: 0 0 40px;
}
.docs_req, .package_area, .adv_area, .compliance_area, .comparison_area, .how_We_area, .popular_area{
    height:auto;
}
.faq_area h2 {
    font-size: 22px;
    margin: 0 0 20px;
}

}

.new_md_section{
    margin:60px 0;
}






