/* Supriyo Sticky footer Start */
.sticky_footer {
  display: none;
}
.block_heading h2::after {
  top: 99%;
}
#documents_required .block_heading h2 {
  margin-bottom: 40px;
}
#documents_required .block_heading p {
  margin: 0 0 25px;
  font-size: 16px;
  text-align: center;
  clear: both;
}
.compliance_area .block_heading h2 {
  margin-bottom: 40px;
}
.compliance_area .block_heading p {
  margin: 0 0 25px;
  font-size: 15.5px;
  text-align: center;
  clear: both;
}
.compliance_area {
  padding: 10px 0 40px;
  background: #ddd;
  clear: both;
}
.compliance_area .compliance_minfo {
  clear: both;
  text-align: center;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 19px -12px #000;
  border-radius: 10px;
  min-height: 120px;
  display: flex;
  align-items: center;
}
.comp_sub_head {
  text-align: center;
  padding: 40px 0 25px;
  font-size: 18px;
  font-weight: 600;
}
.comp_bot_info_box {
  padding: 30px;
  background: #fdfdfd;
  min-height: 320px;
  border-radius: 10px;
}
.comp_bot_info_box h3 {
  margin-bottom: 10px;
  font-size: 18px;
}
.comp_bot_info_box ul li {
  font-size: 15px;
  display: block;
  padding-left: 15px;
  margin-bottom: 5px;
  position: relative;
}
.comp_bot_info_box ul li:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #777;
}

@media (min-width: 320px) and (max-width: 479px) {
  .sticky_footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: #0D1B3D;
    background: linear-gradient(180deg, #0D1B3D 0%, #17242f 100%);
    box-shadow: 0 -4px 13px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #fff;
    height: 59px;
    display: block;
  }
  .sticky_footer_menu:nth-child(3):before {
    content: "";
    background-image: url("../services/online-iec-code-import-export-license/images/sticky_midddle_arrow.png");
    width: 63px;
    height: 14px;
    position: absolute;
    transform: translate(-50%, 0);
    top: -14px;
    left: 50%;
  }
  .sticky_footer_menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  .sticky_footer_menu a {
    color: #fff;
    display: inline-table;
    width: 100%;
    padding: 8px 0 0px 0;
    position: relative;
    z-index: 1;
  }
  .sticky_footer_menu:nth-child(3) a {
    margin: 0;
  }
  .sticky_footer_menu:nth-child(3) a i img {
    width: 22px;
  }
  .sticky_footer_menu i {
    width: 100%;
    display: inline-table;
  }
  .sticky_footer_menu i img {
    width: 21px;
  }
  .sticky_footer_menu:nth-child(3) span {
    margin-top: 4px;
  }
  .sticky_footer_menu span {
    font-size: 11px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    line-height: 12px;
    display: inline-block;
  }
}

/* Supriyo Sticky footer End */
.top-mobile {
  color: white;
  line-height: 40px;
  font-weight: 600;
}

.nav-link a {
  color: black;
  font-weight: 600;
}

.custom-pull-left {
}

.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 32px;
  color: #0D1B3D;
  font-weight: 600;
}

.title-content {
  margin-top: 0px;
  text-align: center;
  font-size: 16px;
  line-height: 27px;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  color: #f1ecec;
  text-decoration: none;
  background-color: #0D1B3D;
}

/*here is the form css coding*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
.container.form {
  width: 100%;
  margin-top: 226px;
  margin-bottom: 70px;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font:
    400 12px/16px "Roboto",
    Helvetica,
    Arial,
    sans-serif;
}

#contact {
  background: #f9f9f9;
  padding: 25px;
  box-shadow:
    0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

.copyright {
  text-align: center;
}

.background_image {
  /*background-image: url("https://www.onlinelegalindia.com/services/udyog-aadhaar/image/bg.JPEG 2000");*/
  background-image: linear-gradient(
    to right top,
    #174355,
    #1d4154,
    #223f53,
    #263d51,
    #2a3b4f,
    #2d3f53,
    #314458,
    #34485c,
    #385468,
    #3d6074,
    #416d7f,
    #477a89
  );
  left: -74.5px;
  box-sizing: border-box;
  width: 100%;
}

.benifts-heading {
  color: white;
  margin-top: 30px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.benifts-heading::after {
  width: 50px;
  height: 5px;
  position: absolute;
  content: "";
  bottom: -20px;
  left: 18px;
  background-color: #1B5E3A;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.benifits-ul {
  list-style: none;
  margin: 30px 0px 0px 0px;
  padding: 0;
}

.card {
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  background-color: #fff;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1px;
  border: none;
}

.card-header:first-child {
  border-radius: 0;
  border-radius: 100px !important;
}

.card-header {
  background-color: #1B5E3A;
  margin-bottom: 0;
  padding: 13px 1.25rem;
  border: none;
}

.card-header a i {
  float: left;
  font-size: 25px;
  padding: 5px 0;
  margin: 0 25px 0 0px;
  color: #195c9d;
}

.card-header i {
  float: right;
  font-size: 30px;
  width: 1%;
  margin-top: 8px;
  margin-right: 10px;
}

.card-header a {
  width: 97%;
  float: left;
  color: #565656;
  text-decoration: none;
}

.card-header p {
  margin: 0;
}

.card-header h3 {
  margin: 0 0 0px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
}

table {
  width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

td {
  border: 1px solid #dbdbdb;
  padding: 7px;
  text-align: center;
}

.why-us-img-div {
  margin-top: 50px;
}

.why-us-img {
  width: 33%;
}

.accordaion-main-div {
  height: 50px;
  width: 100%;
  background-color: #3a526a;
  margin: 25px 0px 0px 0px;
  color: white;
  cursor: pointer;
}

.accordion-cus-head {
  font-weight: 600;
  line-height: 47px;
  margin-left: 40px;
}

.child-ans-div-1 {
  width: 100%;
  color: #66667a;
  border: 1px solid #66667a;
}

.child-ans-text {
  margin-left: 37px;
  margin-top: 10px;
}

/*here is the style of out popular service*/
.our-associates {
  width: 20%;
  float: left;
}

.right-side-img-title {
  font-size: 13px;
  font-weight: bold;
}

.right-side-img-desc {
  font-size: 12px;
}

.req-docs-main-div {
  height: 200px;
  width: 23%;
  text-align: center;
  float: left;
  margin: 70px 1% 0 1%;
  background: #ddd;
  padding: 10px;
}
.req-docs-main-div img {
  margin-top: -60px;
}
.req-docs-main-div h4 {
  font-size: 16px;
  margin: 10px 0 2px;
}

/*Advantages open*/

.wrimagecard {
  margin-top: 0;
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
  background: #effeed;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  border-radius: 4px;
  transition: all 0.3s ease;
  border: 2px solid #9adb93;
  margin-bottom: 35px;
  min-height: 250px;
  max-height: 500px;
}

.wrimagecard .fa {
  position: relative;
  font-size: 70px;
}

.wrimagecard-topimage_header {
  padding: 8px;
}

a.wrimagecard:hover,
.wrimagecard-topimage:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.wrimagecard-topimage a {
  width: 100%;
  height: 100%;
  display: block;
  cursor: auto;
}

.wrimagecard-topimage_title {
  padding: 20px 24px;
  height: 80px;
  padding-bottom: 0.75rem;
  position: relative;
}

.wrimagecard-topimage a {
  border-bottom: none;
  text-decoration: none;
  color: #525c65;
  transition: color 0.3s ease;
}

.wrimagecard-topimage_header h4 {
  padding-top: 10px;
  font-size: 16px;
  margin-bottom: 8px;
}

.advantages .block_heading h2 {
  margin-bottom: -2px;
}

/*Advantages close*/
@media screen and (max-width: 767px) {
  #topheader {
    height: 82px;
  }
}
@media screen and (max-width: 600px) {
  .mob_view {
    display: block;
  }
  .desk_view {
    display: none;
  }
  .top-mobile {
    font-size: 10px;
  }
  .custom-pull-left {
    float: left !important;
    width: 100%;
    background-color: #0D1B3D;
  }

  .background_image {
    height: auto;
  }

  .accordaion-main-div {
    height: auto;
  }
  .accordion-cus-head {
    line-height: 24px;
    font-size: 14px;
    margin-left: 16px;
    padding: 10px;
  }
  .child-ans-text {
    margin-left: 17px;
  }
  .child-ans-div-1 {
    margin-top: -11px;
  }

  .for-top-margin {
    margin-top: 20px;
  }

  .table-overflow {
    overflow: scroll;
  }

  .our-associates {
    width: 50%;
  }
  .req-docs-main-div {
    width: 43%;
  }
  .title,
  .block_heading h2 {
    font-size: 22px;
  }
  #allpacakage .fees_box .register-benifits-text span:nth-child(1) {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  /* .row_grid {
    grid-template-columns: 1fr !important;
  }
  .row_grid_one {
    order: 2;
    height: 350px;
    text-align: center;
  }
  .row_grid_one img {
    height: 350px !important;
    width: unset !important;
  }
  .row_grid_two {
    order: 1;
    padding: 20px 15px;
  } */
  .row_grid_two_inner {
    width: 90% !important;
  }
  .pan_ban_area2 .ban_form {
    margin-top: 15px !important;
  }
  .com_ban_left img {
    height: 520px !important;
    object-fit: cover;
  }
  .pan_ban_area2 .ban_form {
    padding: 15px 10px 0px !important;
  }

  .mid_zone nav {
    display: none;
  }
  .docs_req,
  .package_area,
  .adv_area,
  .compliance_area,
  .comparison_area,
  .how_We_area,
  .popular_area {
    height: auto !important;
  }
  .adv_area .col-md-3 {
    width: 100% !important;
  }
  .contact_us_top_info {
    margin-bottom: 15px;
  }
  .new_md_section_left {
    text-align: center;
  }
  .pan_ban_area2 {
    height: unset;
    padding-bottom: 0px;
    background-color: #2c2c2c;
  }
  body {
    overflow-x: hidden;
  }
  .trust_reviewstrat {
    min-height: 217px !important;
  }
  .docs_req .doc_rq_info {
    height: 194px !important;
  }
  #com_reg2 {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 829px) {
  .pan_ban_area2 .com_ban_right h3 {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 767px) {
  .tranfc_tab_block .col-xs-4 {
    width: 100% !important;
  }
  .docs_req_tab_section .col-xs-4 {
    width: 50% !important;
  }
  .adv_area_tab_section .col-xs-6 {
    width: 100% !important;
  }
  .tranfc_tab_block .col-xs-6 {
    width: 100% !important;
  }
  .navbar a {
    padding: 6px 0 0 0 !important;
  }
}
